.button_div {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    width: 100px;
    align-items: center;
    border: none;
    background-color: transparent;
    opacity: 0.5;

    h4{
        margin-right: 10px;
    }

    &:hover {
        opacity: 1;
        transition: all 0.3s ease;
    }
}