.ourPartners{
    background-color: #1D1F2A;
    padding: 60px 50px;
    h4{
        font-weight: 900 !important;
        font-size: 28px;
        line-height: 36px;
        letter-spacing: 0.005em;
        text-transform: uppercase;
        color: #F4F4F4;
    }
    .ourPartners_imgBlock{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    .ourPartners_img{
        margin-top: 70px;
        margin: 30px 30px;
        cursor: pointer;
        img{       
            max-width: 140px;
            filter: grayscale(100%);
            opacity: 0.5;
        }
        &:hover{
            img{       
                filter: none;
                opacity: 1;
                transition: all 0.3s ease;
            } 
        }
    }
}
}